

.coin_container{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:start
}
.coin_image{
    margin-right: 1rem !important;
}
.coin_data{

     display: flex;
     justify-content: center;
    flex-direction: column;
    height:inherit;
}
.text_field{
width:inherit !important;
margin:1rem 0 !important;
}



.MuiPaginationItem-root{
 color: gold !important;
}
